.button {
  background-color: transparent;
  border: solid 0.5px;
  border-radius: 15px;
  text-align: center;
  width: 65px;
  height: 25px;
  box-shadow: -2px 5px 13px 1px rgba(97, 88, 88, 0.88);
  cursor: pointer;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.button:hover {
  background-color: rgb(121, 126, 196);
}
